#home {
    position: relative;
    padding-top: 0px;
}

.header-container {
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.header-container h1 {
    font-size: 4rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding-bottom: 2rem;
    width: 60%;
}

.header-container h1 span {
    margin: 3rem;
    display: block;
    font-size: 7rem;
}

h1 span:nth-child(1) {
    font-weight: 1000;
}

h1 span:nth-child(2) {
    font-weight: 100;
}

.header-container h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 1px;
    background: var(--color-white);
}

.header-container p {
    margin: 3rem;
    width: 70%;
    margin-left: 0;
}

.btn-green, .btn-dark {
    margin-top: 20px;
    margin-left: 0;
}

.description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-container .description-container-left {
    margin-right: 3rem;
    flex: 1;
}

.description-container .description-container-right {
    position: relative;
    flex: 1;
}

.description-container-left h2 {
    font-size: 5rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: black;
    position: relative;
    padding-bottom: 2rem;
    width: 50%;
    margin-top: 7rem;
}

.description-container-left h2 span {
    margin-left: 5rem;
    display: block;
}

h2 span:nth-child(1) {
    font-weight: 700;
}

h2 span:nth-child(2) {
    font-weight: 200;
}

.description-container-left h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: black;
}

.description-container-left p {
    margin: 5rem;
    width: 50%;
}

.github-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.github-container .github-container-left {
    margin-right: 3rem;
    flex: 1;
}

.github-container .github-container-right {
    position: relative;
    flex: 1;
}

.github-container-right h2 {
    font-size: 5rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
    position: relative;
    padding-bottom: 2rem;
    width: 50%;
    margin-top: 7rem;
}

.github-container-right h2 span {
    margin-right: 5rem;
    display: block;
}

h2 span:nth-child(1) {
    font-weight: 700;
}

h2 span:nth-child(2) {
    font-weight: 200;
}

.github-container-right h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: white;
}

.github-container-right p {
    margin: 5rem;
    width: 50%;
}

footer {
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .description-container {
        flex-direction: column;
    }
    .decription-container-right {
        width: 100%;
        height: 50vh; /* Adjust as needed */
        min-width: 1000px;
    }
    .github-container {
        flex-direction: column-reverse; /* To place the GitHub container below the description container */
    }
    .github-container-left {
        width: 100%;
        height: 50vh; /* Adjust as needed */
        min-height: 50vh;
        min-width: 1000px;
    }
}