@import url("../../colors.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    font-family: 'Poppins', sans-serif;
}


.login-container {
    display: flex;
    height: 100vh;
}

.login-container-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: white;
}

.login-container-right {
    flex: 1;
    background: linear-gradient(180deg, var(--light-green), var(--dark-green));
}

.login-form {
    padding: 40px;
    border: #1e774b;
}

h1 {
    font-size: 4rem;
    color: var(--dark-green);
}

h3 {
    font-size: 1.75rem;
    color: var(--subheading)
}

hr {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 20px;
}
.input-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.input-box input::placeholder {
    color: var(--placeholder-text);
}

.keep-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


label {
    font-size: 1.5rem;
}

button.horriblebutton {
    background-color: var(--dark-green);
    font-family: 'Poppins';
    font-size: x-large;
}

button.horriblebutton:hover {
    background-color: var(--med-green);
}

.i-forgor {
    color: var(--med-green);
    text-decoration: underline; 
    align-self: flex-start;
    font-family: 'Poppins';
    margin-top: 5px;
    margin-bottom: 5px;
}

.register {
    color: var(--med-green);
    text-decoration: underline;
    margin-left: 10px;
}

label {
    font-family: 'Poppins';
    color: var(--med-green)
}