@import url('../../colors.css');

body{
	margin: 20px;
	background-color: #dfdfdf;
}

.horriblebutton {
	background-color: #61cb8a;
	border: none;
	color: white;
	padding: 4px 12px;
	font-size: 32px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 250ms ease;
}

a {
	color: var(--dark-green);
	text-decoration: underline;
	font-size: medium;
}

p {
	font-size: medium;
	color: var(--dark-green);
}

.login-link {
	margin-top: 15px;
}
